@import '~office-ui-fabric-react/dist/sass/References.scss';

.procurementNavigator {
  box-sizing: border-box;

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    .questionTab {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    
      .row {
        @include ms-Grid-row;
        @include ms-fontColor-white;
        background-color: #FFF;
        color: #000;
        padding: 20px;
        border: 1px solid #666;
        margin-bottom: 20px;
      
    
        .column {
          @include ms-Grid-col;
          @include ms-lg10;
          @include ms-xl8;
          @include ms-xlPush2;
          @include ms-lgPush1;
          animation-name: fade-in;
          animation-fill-mode: both;
          animation-duration: 1.0s;

          .endtext {
            background-color: bisque;
            margin-top: 20px;
            padding: 10px;
            animation-name: fade-in;
            animation-fill-mode: both;
            animation-duration: 1.5s;
          }
        }
      }
    }
  }

  $animationDelay: 1;
  @for $i from 1 through 15 {
    .projects div:nth-of-type(#{$i}) {
      animation-delay: #{0.3+($i)/30}s;
    }
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

}
